# PostgreSQL Database Environment Variables Example

# The default username for PostgreSQL
POSTGRES_USER=user

# The default password for PostgreSQL
POSTGRES_PASSWORD=password

# The default database to create on initialization
POSTGRES_DB=water_quality
